<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1><%= title %></h1>
          <form class="form" method="post">
            <div class="form-group">
              <label for="NameTextField">Contact_Name</label>
              <input type="text" class="form-control" id="NameTextField"
              placeholder="Movie Name" name="title" value="<%= list.Contact_Name %>" required>
            </div>

            <div class="form-group">
              <label for="DescriptionTextField">Contact_Number</label>
              <input type="text" class="form-control" id="DescriptionTextField"
              placeholder="Enter Movie Description" name="description" value="<%=list.Contact_Number %>"  required>
            </div>

            <div class="form-group">
              <label for="ReleasedNumberField">Email</label>
              <input type="text" class="form-control" id="ReleasedNumberField"
              placeholder="Released Date" name="released" value="<%= list.Email %>"  required>
            </div>

            <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
            <a href="/buscontact" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
          </form>
      </div>
    </div>
  </div>
